* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}
.Site-content {
  min-height: 100%;
  padding: 3.5em;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin: -3em 0;
}

footer, header {
	width: 100%;
	height: 3em;
	padding: 1em;
	background-color: red;
}
p {
	margin: 0;
}